@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "KoHo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(assets\fonts\KoHo\KoHo-Regular.ttf) format("truetype");
  }

  html {
    font-family: "KoHo", Arial, Helvetica, sans-serif; /* Adding a fallback font */
    color: #475569;
    --cursor-color: #333;
  }
}
